


body{
    background-color:gray;
    margin:0px;
    font-family:'Raleway';
}


input[type="submit"]{
    cursor:pointer; 
}

.divSuperior{
    text-align:right;
}

.divMaisExterna{
/*    background-color: lightgray; */
    background-image: url("../images/mansion.png") ;
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    background-size: cover;
    width:1024px;
    height:1920px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    text-align:center;
    z-index: -1
/*    border-radius: 10px; */
}

#divListBox {
    width: 850px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid #ab844a 2px;
    border-radius: 31px;
    background-color: white;
    z-index: -2;
}

.ListBox{
    background-color: transparent;
    font-size: 27pt;
    border: none;
    color: #ab844a;
    padding: 10px 30px 10px 30px;
}

.titulo{
    font-size: 40pt;
    font-weight:bolder;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px 20px 10px 20px;
}

.textPadrao0{
    margin-left: auto;
    margin-right: auto;
    width:550px;
    font-size:28pt;
    border:2px solid #ab844a;
    border-radius: 31px;
}
.textPadrao{
    border:none;
    border-radius:31px;
    font-size:28pt;
    width:530px;
    color:#ab844a;
    text-align:left;
    padding: 0px 0px 0px 20px;
}
select{/*
    background: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #dde3e6);
    background-image: -moz-linear-gradient(top, #f2f2f2, #dde3e6);
    background-image: -ms-linear-gradient(top, #f2f2f2, #dde3e6);
    background-image: -o-linear-gradient(top, #f2f2f2, #dde3e6);
    background-image: linear-gradient(to bottom, #f2f2f2, #dde3e6);*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-apperance.gif) no-repeat #eeeeee;
    background-position:0px center;
    border:2px solid #ab844a;
    border-radius:31px;
    font-size:28pt;
    width:550px;
    
    color:#ab844a;
    padding: 0px 20px 0px 20px;
}

.botao {
  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #dde3e6);
  background-image: -moz-linear-gradient(top, #f2f2f2, #dde3e6);
  background-image: -ms-linear-gradient(top, #f2f2f2, #dde3e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #dde3e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #dde3e6);
  border-radius: 31px;
  font-family: Arial;
  color: #ab844a;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  border: solid #ab844a 2px;
  text-decoration: none;
  width: 275px;
}
.divLogin{
    width:570px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    text-align:center;
    background-color: rgba(255,255,255,0.4);
    z-index: -2;
    padding: 10px 20px 10px 20px;
}